#pge
{
    font-family: Verdana, sans-serif;
    background-color: FF0000;
}
header
{
    display:block; width:100%; margin:0; padding:7px; background:rgb(73, 73, 73);
}
home
{
    font-size: xx-large;
    font-style: italic;
}
note
{
    font-size: small;
    text-align: center;
}
a
{
    font-variant: small-caps;
}
.dspn
{
    display:none
}

title
{
    color: blue
}

object #document path
{
    fill: red;
}

