body
{
    font-family: 'Roboto', sans-serif;
    background-color:  #f4f4f4;
}

#nav-bar
{
    background-color :#073590;
    border-bottom-width : 3px;
    border-bottom-style: solid;
    border-bottom-color: rgb(241, 201, 51);
    height: 68px;

}
#logo
{
    height: 75%;
    margin-top: 7px;

}
.dspn
{
    display:none
}

title
{
    color: blue
}

object #document path
{
    fill: red;
}

.blue-box
{
    background-color: #2691e4;
    border: 1px solid #073590;
    padding-top: 10px;
    padding-bottom: 10px
}

/* The container */
.form-check-label {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
}

/* Hide the browser's default radio button */
.form-check-label input {
    position: absolute;
    opacity: 0;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border-radius: 50%;
    border: 1.5px solid white;
    margin-top: 1px;
    
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.form-check-label input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.form-check-label .checkmark:after {
 	top: 2.5px;
	left: 2.5px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: rgb(241, 201, 51);
}

.res-icon
{
    color:rgb(241, 201, 51);
}


.form-check-label .toggle {
    position: relative;
    height: 15px;
    width: 30px;
    background-color: hsla(206, 63%, 41%, 1);
    border-radius: 7.5px;
    margin-top: -3px;
    display: inline-block;
    margin-left: -7px;
    margin-right: 18px;
}

/* Style the indicator (dot/circle) */
.form-check-label .toggle:before {
    content:"";
    position: absolute;
 	top: -3px;
	left: -10px;
	width: 21px;
	height: 21px;
	border-radius: 50%;
    background-color: hsla(206, 78%, 62%, 1);
    -webkit-transition: .4s;
    transition: .4s;
}

.form-check-label input:checked + .toggle:before
{
    transform: translateX(30px);
    background-color: rgb(241, 201, 51);
}

.btn-warning
{
    background-color: rgb(241, 201, 51);
    color:#073590;
    font-weight: 700;
    font-size: 14px;
    padding: 5px 11px;
    margin-right: 5px;
}

label
{
    font-weight: 700;
    font-size: 12px;
}

.table th, .table td, .table thead th {
    border-color: rgb(241, 201, 51);
}

footer
{
    padding-top : 40px;
    padding-left: 10px;
}

.modify
{
    background-color: transparent; 
    border: none;
    width: 100%;
    color: white;
}

#homeCarousel
{
    max-height: 300px;
    overflow: hidden;
}

.carousel-item
{
    height: 300px;
}

.carousel-item img
{
    position: relative;
    top: 65%;
    transform: translateY(-50%);
}