#nav-bar
{
    background-color :#073590;
    border-bottom-width : 3px;
    border-bottom-style: solid;
    border-bottom-color: rgb(241, 201, 51);
    height: 68px;

}
#logo
{
    height: 75%;
    margin-top: 7px;
}
.dspn
{
    display:none
}

title
{
    color: blue
}

object #document path
{
    fill: red;
}


