<div>
    <home>Confirmation</home>
    <BR CLEAR="all">
    <note>Please confirme your reservation</note>
    <BR CLEAR="all">
    // faire apparaitre un tableau qui va rerendre toutes les infos
    // attention que quelqu'il peut y avoir pluiseurs destinantions avant paiement
    // vérifier qu'au moins un des passagers est majeur
    <form  method="post" action="confirmation">
        <button type="submit" name="confirm" value=true>Confirm</button>
        <button type="submit" name="confirm" value=false>Cancel</button>
    </form>
</div>