<div>
    <title>Passengers'details</title>
</div>
<form method="post" action="nextpassenger">
<p class="title">Firstname</p>
<input name="first_name" class="Name" type="text" size="30" maxlength="20">
<p class="title">Lastname</p>
<input name="last_name" class="Name" type="text" size="30" maxlength="50">
<p class ="title">Age</p>
<input type="number" value="1" min="1" max="150" name="age">
<div class="button" >
    <button type="submit" name="status" value="0">Next Step</button>
    <button type="submit" name="status" value="1" >Previous page</button>
    <button type="submit" name="status" value="2">Cancel the reservation</button>
</div>
</form>