<div>
   Reserve your mulet
</div>
<form method="post" action="controler_reservation.php">
    <p class="title">Destination</p>
        <p>
            <select name="Destination">
                <option>The destination</option>
                <option>Amsterdam</option>
                <option>Berlin</option>
                <option>Bruxelles</option>
                <option>Lisbon</option>
                <option>London</option>
                <option>Madrid</option>
                <option>Tirana</option>
            </select>
        </p>
    <p class="title">Number of passengers</p>
    <p id="number">
        <select name="Number of passengers">
            <option>The number of passengers</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
        </select>
    </p>
    <p class="title">Message</p>
    <fielset id="message">
        <input type=text>
        </input>
    </fielset>
    <div class="button">
        <input type="button" value="Validate" href=/lien>
        <input type="button" value="Cancel" href=/lien> 
    </div>
</form>