<div>
   Reservation'page
</div>
<html>
    <form method="post" action="reservation.php">
        <p class="title">Destination</p>
            <p>
                <select name="Destination">
                    <option>Chose a destination</option>
                    <option>Amsterdam</option>
                    <option>Berlin</option>
                    <option>Bruxelles</option>
                    <option>Lisbon</option>
                    <option>London</option>
                    <option>Madrid</option>
                    <option>Tirana</option>
                </select>
            </p>
        <p class="title">Number of passengers</p>
        <p></p>

    </form>
</html>