<div>
   Reserve your mulet
</div>
<form method="post" action="detail">
    <p class="title">Destination</p>
        <p>
            <select name="Destination">
                <option selected="selected">Make your choice</option>
                <option>Amsterdam</option>
                <option>Baraki</option>
                <option>Bruxelles</option>
                <option>Lisbon</option>
                <option>London</option>
                <option>Madrid</option>
                <option>Torremolinos</option>
            </select>
        </p>
    <p class="title">Number of passengers</p>
    <input type="number" name="NumberOfPassengers">
    <div>Assurance annulation <INPUT type="checkbox" name="nom" value="true">
    </div>
    <div class="button">
        <input type="button" value="Next step" href=/lien>
        <input type="button" value="Cancel the reservation" href=/lien> 
    </div>
</form>